In [135]:
from matplotlib import pyplot as plt
import numpy as np
import math

import pandas as pd

df_rows = pd.read_csv("./taxi_dataset/training_data_simple.csv", sep='\n', nrows=5, header=None)
df_raw = df_rows[0].str.split(',', expand=True)
df_raw

,0,1,2,3,4,5,6,7,8,9,...,663,664,665,666,667,668,669,670,671,672
0,1372638303,-8.587116,41.162427,-8.586198,41.162112,-8.585982,41.161338,-8.585037,41.160024,-8.584146,...,,,,,,,,,,
1,1372646650,-8.6103,41.153688,-8.610336,41.153679,-8.610192,41.154039,-8.609985,41.154759,-8.609931,...,,,,,,,,,,
2,1372645583,-8.591301,41.156163,-8.592651,41.156163,-8.594415,41.156298,-8.594451,41.156316,-8.59446,...,,,,,,,,,,
3,1372651427,-8.610291,41.153625,-8.61093,41.153643,-8.611965,41.153859,-8.611938,41.154651,-8.611884,...,,,,,,,,,,
4,1372652856,-8.61372,41.148414,-8.614287,41.148414,-8.614431,41.148387,-8.614845,41.147451,-8.614872,...,,,,,,,,,,

In [136]:
df = df_raw.iloc[:5,:21]
# df.columns = ["start_time", "lon_1", "lat_1", "lon_2", "lat_2", "lon_3", "lat_3"]
df

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,1372638303,-8.587116,41.162427,-8.586198,41.162112,-8.585982,41.161338,-8.585037,41.160024,-8.584146,...,-8.583138,41.160204,-8.582175,41.160789,-8.582022,41.162364,-8.583849,41.163192,-8.586189,41.163273
1,1372646650,-8.6103,41.153688,-8.610336,41.153679,-8.610192,41.154039,-8.609985,41.154759,-8.609931,...,-8.610327,41.153625,-8.610669,41.153688,-8.611974,41.153724,-8.611938,41.155452,-8.611344,41.157162
2,1372645583,-8.591301,41.156163,-8.592651,41.156163,-8.594415,41.156298,-8.594451,41.156316,-8.59446,...,-8.594568,41.156514,-8.594388,41.156838,-8.593632,41.158179,-8.594163,41.15898,-8.595954,41.159547
3,1372651427,-8.610291,41.153625,-8.61093,41.153643,-8.611965,41.153859,-8.611938,41.154651,-8.611884,...,-8.611542,41.157054,-8.610147,41.157252,-8.610129,41.157216,-8.610138,41.157216,-8.609778,41.15727
4,1372652856,-8.61372,41.148414,-8.614287,41.148414,-8.614431,41.148387,-8.614845,41.147451,-8.614872,...,-8.614872,41.147379,-8.615637,41.147262,-8.617023,41.147253,-8.618076,41.147685,-8.618814,41.148612

In [137]:
from operator import attrgetter

class Trajectory:
    def __init__(self, id, df_row):
        self.id = id
        self.first_timestamp = int(df_row[0])
        
        # populate points array
        self.points = []
        self.points.append(Point(time=int(self.first_timestamp), lon=df_row[1], lat=df_row[2]))
        for i in range(3, df_row.size, 2):
            this_timestamp = int(self.first_timestamp) + (i//2)*15
            self.points.append(Point(time=this_timestamp, lon=df_row[i], lat=df_row[i+1]))

        # find trajectory min and max lat, lon
        self.min_lat = (min(self.points,key=attrgetter('lat')).lat)
        self.max_lat = (max(self.points,key=attrgetter('lat')).lat)
        self.min_lon = (min(self.points,key=attrgetter('lon')).lon)
        self.max_lon = (max(self.points,key=attrgetter('lon')).lon)

    def get_points_info(self):
        i = 1
        for point in self.points:
            print(i, point)
            i+=1

    def __str__(self):
        return("\n{:10s}: [ID: {:5d}, Time_First: {:10d}, Points: {}] \n{:10s}  [LAT_range: ({:5f}, {:5f}), LON_range: ({:5f}, {:5f}])".\
                    format("Trajectory", self.id, self.first_timestamp, len(self.points),\
                            "", self.min_lat, self.max_lat, self.min_lon, self.max_lon))
            
    def __repr__(self):
        # print("\nin __repr__, calling __str__")
        return str(self)
        
        

class Point:
    def __init__(self, time, lon, lat):
        self.timestamp = time
        self.lon = float(lon)
        self.lat = float(lat)
        
        self.is_truth = True        # True if point coordinate is truth value
        self.prev_pt_time = -1
        self.next_pt_time = -1

    def clear_coor(self):
        self.is_truth = False
        self.lon = -1
        self.lat = -1

    def set_prediction(self, pred_pt_lst):
        pred_time, pred_lon, pred_lat = pred_pt_lst
        if self.timestamp == pred_time:
            self.lon = pred_lon
            self.lat = pred_lat
        else:
            print("ERORR: time mismatch")
            print("actual t :", self.timestamp)
            print("predicted:", pred_time)
            print("\n")

    def __str__(self):
        return ("{:10s}: [Timestamp: {:10d}, Longitude: {:9f}, Latitude: {:9f}, Truth: {}]"\
            .format("Point", self.timestamp, self.lon, self.lat, self.is_truth))

    def __repr__(self):
        # print("\nin __repr__, calling __str__")
        return str(self)

In [154]:
taxi_trajectories = []

counter = 0
for index, row in df.iterrows():
    taxi_trajectories.append(Trajectory(counter, row))
    counter += 1

for traj in taxi_trajectories:
    print(traj)
    traj.get_points_info()
    print()

Trajectory: [ID:     0, Time_First: 1372638303, Points: 10]
            [LAT_range: (41.159358, 41.163273), LON_range: (-8.587116, -8.582022])
1 Point     : [Timestamp: 1372638303, Longitude: -8.587116, Latitude: 41.162427, Truth: True]
2 Point     : [Timestamp: 1372638318, Longitude: -8.586198, Latitude: 41.162112, Truth: True]
3 Point     : [Timestamp: 1372638333, Longitude: -8.585982, Latitude: 41.161338, Truth: True]
4 Point     : [Timestamp: 1372638348, Longitude: -8.585037, Latitude: 41.160024, Truth: True]
5 Point     : [Timestamp: 1372638363, Longitude: -8.584146, Latitude: 41.159358, Truth: True]
6 Point     : [Timestamp: 1372638378, Longitude: -8.583138, Latitude: 41.160204, Truth: True]
7 Point     : [Timestamp: 1372638393, Longitude: -8.582175, Latitude: 41.160789, Truth: True]
8 Point     : [Timestamp: 1372638408, Longitude: -8.582022, Latitude: 41.162364, Truth: True]
9 Point     : [Timestamp: 1372638423, Longitude: -8.583849, Latitude: 41.163192, Truth: True]
10 Point     : [Timestamp: 1372638438, Longitude: -8.586189, Latitude: 41.163273, Truth: True]


Trajectory: [ID:     1, Time_First: 1372646650, Points: 10]
            [LAT_range: (41.153625, 41.157162), LON_range: (-8.611974, -8.609931])
1 Point     : [Timestamp: 1372646650, Longitude: -8.610300, Latitude: 41.153688, Truth: True]
2 Point     : [Timestamp: 1372646665, Longitude: -8.610336, Latitude: 41.153679, Truth: True]
3 Point     : [Timestamp: 1372646680, Longitude: -8.610192, Latitude: 41.154039, Truth: True]
4 Point     : [Timestamp: 1372646695, Longitude: -8.609985, Latitude: 41.154759, Truth: True]
5 Point     : [Timestamp: 1372646710, Longitude: -8.609931, Latitude: 41.154462, Truth: True]
6 Point     : [Timestamp: 1372646725, Longitude: -8.610327, Latitude: 41.153625, Truth: True]
7 Point     : [Timestamp: 1372646740, Longitude: -8.610669, Latitude: 41.153688, Truth: True]
8 Point     : [Timestamp: 1372646755, Longitude: -8.611974, Latitude: 41.153724, Truth: True]
9 Point     : [Timestamp: 1372646770, Longitude: -8.611938, Latitude: 41.155452, Truth: True]
10 Point     : [Timestamp: 1372646785, Longitude: -8.611344, Latitude: 41.157162, Truth: True]


Trajectory: [ID:     2, Time_First: 1372645583, Points: 10]
            [LAT_range: (41.156163, 41.159547), LON_range: (-8.595954, -8.591301])
1 Point     : [Timestamp: 1372645583, Longitude: -8.591301, Latitude: 41.156163, Truth: True]
2 Point     : [Timestamp: 1372645598, Longitude: -8.592651, Latitude: 41.156163, Truth: True]
3 Point     : [Timestamp: 1372645613, Longitude: -8.594415, Latitude: 41.156298, Truth: True]
4 Point     : [Timestamp: 1372645628, Longitude: -8.594451, Latitude: 41.156316, Truth: True]
5 Point     : [Timestamp: 1372645643, Longitude: -8.594460, Latitude: 41.156352, Truth: True]
6 Point     : [Timestamp: 1372645658, Longitude: -8.594568, Latitude: 41.156514, Truth: True]
7 Point     : [Timestamp: 1372645673, Longitude: -8.594388, Latitude: 41.156838, Truth: True]
8 Point     : [Timestamp: 1372645688, Longitude: -8.593632, Latitude: 41.158179, Truth: True]
9 Point     : [Timestamp: 1372645703, Longitude: -8.594163, Latitude: 41.158980, Truth: True]
10 Point     : [Timestamp: 1372645718, Longitude: -8.595954, Latitude: 41.159547, Truth: True]


Trajectory: [ID:     3, Time_First: 1372651427, Points: 10]
            [LAT_range: (41.153625, 41.157270), LON_range: (-8.611965, -8.609778])
1 Point     : [Timestamp: 1372651427, Longitude: -8.610291, Latitude: 41.153625, Truth: True]
2 Point     : [Timestamp: 1372651442, Longitude: -8.610930, Latitude: 41.153643, Truth: True]
3 Point     : [Timestamp: 1372651457, Longitude: -8.611965, Latitude: 41.153859, Truth: True]
4 Point     : [Timestamp: 1372651472, Longitude: -8.611938, Latitude: 41.154651, Truth: True]
5 Point     : [Timestamp: 1372651487, Longitude: -8.611884, Latitude: 41.155551, Truth: True]
6 Point     : [Timestamp: 1372651502, Longitude: -8.611542, Latitude: 41.157054, Truth: True]
7 Point     : [Timestamp: 1372651517, Longitude: -8.610147, Latitude: 41.157252, Truth: True]
8 Point     : [Timestamp: 1372651532, Longitude: -8.610129, Latitude: 41.157216, Truth: True]
9 Point     : [Timestamp: 1372651547, Longitude: -8.610138, Latitude: 41.157216, Truth: True]
10 Point     : [Timestamp: 1372651562, Longitude: -8.609778, Latitude: 41.157270, Truth: True]


Trajectory: [ID:     4, Time_First: 1372652856, Points: 10]
            [LAT_range: (41.147253, 41.148612), LON_range: (-8.618814, -8.613720])
1 Point     : [Timestamp: 1372652856, Longitude: -8.613720, Latitude: 41.148414, Truth: True]
2 Point     : [Timestamp: 1372652871, Longitude: -8.614287, Latitude: 41.148414, Truth: True]
3 Point     : [Timestamp: 1372652886, Longitude: -8.614431, Latitude: 41.148387, Truth: True]
4 Point     : [Timestamp: 1372652901, Longitude: -8.614845, Latitude: 41.147451, Truth: True]
5 Point     : [Timestamp: 1372652916, Longitude: -8.614872, Latitude: 41.147388, Truth: True]
6 Point     : [Timestamp: 1372652931, Longitude: -8.614872, Latitude: 41.147379, Truth: True]
7 Point     : [Timestamp: 1372652946, Longitude: -8.615637, Latitude: 41.147262, Truth: True]
8 Point     : [Timestamp: 1372652961, Longitude: -8.617023, Latitude: 41.147253, Truth: True]
9 Point     : [Timestamp: 1372652976, Longitude: -8.618076, Latitude: 41.147685, Truth: True]
10 Point     : [Timestamp: 1372652991, Longitude: -8.618814, Latitude: 41.148612, Truth: True]

In [155]:
grid_obj = []
for traj in taxi_trajectories:
    grid_obj.append(traj.points)

print(pd.DataFrame(grid_obj))

                                                   0  \
0  Point     : [Timestamp: 1372638303, Longitude:...
1  Point     : [Timestamp: 1372646650, Longitude:...
2  Point     : [Timestamp: 1372645583, Longitude:...
3  Point     : [Timestamp: 1372651427, Longitude:...
4  Point     : [Timestamp: 1372652856, Longitude:...

                                                   1  \
0  Point     : [Timestamp: 1372638318, Longitude:...
1  Point     : [Timestamp: 1372646665, Longitude:...
2  Point     : [Timestamp: 1372645598, Longitude:...
3  Point     : [Timestamp: 1372651442, Longitude:...
4  Point     : [Timestamp: 1372652871, Longitude:...

                                                   2  \
0  Point     : [Timestamp: 1372638333, Longitude:...
1  Point     : [Timestamp: 1372646680, Longitude:...
2  Point     : [Timestamp: 1372645613, Longitude:...
3  Point     : [Timestamp: 1372651457, Longitude:...
4  Point     : [Timestamp: 1372652886, Longitude:...

                                                   3  \
0  Point     : [Timestamp: 1372638348, Longitude:...
1  Point     : [Timestamp: 1372646695, Longitude:...
2  Point     : [Timestamp: 1372645628, Longitude:...
3  Point     : [Timestamp: 1372651472, Longitude:...
4  Point     : [Timestamp: 1372652901, Longitude:...

                                                   4  \
0  Point     : [Timestamp: 1372638363, Longitude:...
1  Point     : [Timestamp: 1372646710, Longitude:...
2  Point     : [Timestamp: 1372645643, Longitude:...
3  Point     : [Timestamp: 1372651487, Longitude:...
4  Point     : [Timestamp: 1372652916, Longitude:...

                                                   5  \
0  Point     : [Timestamp: 1372638378, Longitude:...
1  Point     : [Timestamp: 1372646725, Longitude:...
2  Point     : [Timestamp: 1372645658, Longitude:...
3  Point     : [Timestamp: 1372651502, Longitude:...
4  Point     : [Timestamp: 1372652931, Longitude:...

                                                   6  \
0  Point     : [Timestamp: 1372638393, Longitude:...
1  Point     : [Timestamp: 1372646740, Longitude:...
2  Point     : [Timestamp: 1372645673, Longitude:...
3  Point     : [Timestamp: 1372651517, Longitude:...
4  Point     : [Timestamp: 1372652946, Longitude:...

                                                   7  \
0  Point     : [Timestamp: 1372638408, Longitude:...
1  Point     : [Timestamp: 1372646755, Longitude:...
2  Point     : [Timestamp: 1372645688, Longitude:...
3  Point     : [Timestamp: 1372651532, Longitude:...
4  Point     : [Timestamp: 1372652961, Longitude:...

                                                   8  \
0  Point     : [Timestamp: 1372638423, Longitude:...
1  Point     : [Timestamp: 1372646770, Longitude:...
2  Point     : [Timestamp: 1372645703, Longitude:...
3  Point     : [Timestamp: 1372651547, Longitude:...
4  Point     : [Timestamp: 1372652976, Longitude:...

                                                   9
0  Point     : [Timestamp: 1372638438, Longitude:...
1  Point     : [Timestamp: 1372646785, Longitude:...
2  Point     : [Timestamp: 1372645718, Longitude:...
3  Point     : [Timestamp: 1372651562, Longitude:...
4  Point     : [Timestamp: 1372652991, Longitude:...

In [156]:
grid_obj = np.array(grid_obj)

# create copy of truth values
import copy
truth_obj = copy.deepcopy(grid_obj)

In [157]:
# def random_clear(nrows, percent_testing_data, random_seed):
import random
random.seed(1)

PERCENT_TESTING_DATA = 0.50

for traj in grid_obj:
    row_random = random.sample(range(1, len(traj)-1), int(PERCENT_TESTING_DATA*len(traj)))
    print(row_random)
    for i in row_random:
        traj[i].clear_coor()

# creating test data
for traj in grid_obj:
    traj[1].clear_coor()
    traj[3].clear_coor()

# print(grid_obj)

[3, 5, 1]
[5, 1, 4]
[8, 4, 6]
[7, 8, 2]
[2, 4, 1]

In [158]:
# Point* estimate_linear(Point pt_prev, Point pt_next)
def estimate_linear(pt_prev, pt_next):
    # returns an array of predicted points based on time difference between previous and next coordinates

    pt_prev_t   = pt_prev.timestamp
    pt_prev_lon = pt_prev.lon
    pt_prev_lat = pt_prev.lat

    pt_next_t   = pt_next.timestamp
    pt_next_lon = pt_next.lon
    pt_next_lat = pt_next.lat
    
    num_pt_between = (pt_next_t - pt_prev_t) // 15 - 1
    pt_between_arr = []

    lon_interval = (pt_next_lon - pt_prev_lon) / (num_pt_between+1)
    lat_interval = (pt_next_lat - pt_prev_lat) / (num_pt_between+1)

    this_t = pt_prev_t
    this_lon = pt_prev_lon
    this_lat = pt_prev_lat

    for i in range(1, num_pt_between+1):
        this_t += 15
        this_lon = this_lon + lon_interval
        this_lat = this_lat + lat_interval

        pt_between_arr.append([this_t, this_lon, this_lat])

    print("### estimate linear ###:")
    print("num_pts:", num_pt_between)
    print("pt_prev:", pt_prev_t)
    print("pt_next:", pt_next_t)
    print(pt_between_arr, '\n')
    return pt_between_arr

In [159]:
# recovering trajectory

for traj in grid_obj:
    last_truth_pt = None
    next_truth_pt = None
    to_predict = False              # True when current pt is not truth value
    index = 0    

    for curr_pt in traj:
        index += 1

        if to_predict is False:
            if curr_pt.is_truth is True:
                # all good, truth
                last_truth_pt = curr_pt
            else:
                # encountered point with non-truth value
                to_predict = True
                num_missing_data = 1
        
        if to_predict is True:
            # in a streak of non-truth points
            if curr_pt.is_truth is False:
                # curr_pt.prev_pt_time = last_truth_pt.timestamp
                num_missing_data += 1
                pass

            else:
                # found truth point
                to_predict = False
                next_truth_pt = curr_pt

                # print("ltt:", last_truth_pt.timestamp)
                # print("ntt:", next_truth_pt.timestamp)
                # print("spp:", starting_pt_pred)

                predicted_pts = estimate_linear(last_truth_pt, next_truth_pt)
                for pred_index in range(len(predicted_pts)):
                    traj[index-num_missing_data].set_prediction(predicted_pts[pred_index])
                    num_missing_data -= 1
                    pred_index += 1

                last_truth_pt = curr_pt

### estimate linear ###:
num_pts: 1
pt_prev: 1372638303
pt_next: 1372638333
[[1372638318, -8.586549, 41.161882500000004]]

### estimate linear ###:
num_pts: 1
pt_prev: 1372638333
pt_next: 1372638363
[[1372638348, -8.585064, 41.160348]]

### estimate linear ###:
num_pts: 1
pt_prev: 1372638363
pt_next: 1372638393
[[1372638378, -8.5831605, 41.160073499999996]]

### estimate linear ###:
num_pts: 1
pt_prev: 1372646650
pt_next: 1372646680
[[1372646665, -8.610246, 41.1538635]]

### estimate linear ###:
num_pts: 3
pt_prev: 1372646680
pt_next: 1372646740
[[1372646695, -8.610311249999999, 41.15395125], [1372646710, -8.6104305, 41.1538635], [1372646725, -8.61054975, 41.15377575]]

### estimate linear ###:
num_pts: 1
pt_prev: 1372645583
pt_next: 1372645613
[[1372645598, -8.592858, 41.1562305]]

### estimate linear ###:
num_pts: 2
pt_prev: 1372645613
pt_next: 1372645658
[[1372645628, -8.594466, 41.15637], [1372645643, -8.594517000000002, 41.156442000000006]]

### estimate linear ###:
num_pts: 1
pt_prev: 1372645658
pt_next: 1372645688
[[1372645673, -8.594100000000001, 41.1573465]]

### estimate linear ###:
num_pts: 1
pt_prev: 1372645688
pt_next: 1372645718
[[1372645703, -8.594793, 41.158863]]

### estimate linear ###:
num_pts: 3
pt_prev: 1372651427
pt_next: 1372651487
[[1372651442, -8.61068925, 41.1541065], [1372651457, -8.6110875, 41.154588], [1372651472, -8.61148575, 41.155069499999996]]

### estimate linear ###:
num_pts: 2
pt_prev: 1372651517
pt_next: 1372651562
[[1372651532, -8.610024, 41.157258], [1372651547, -8.609900999999999, 41.157264]]

### estimate linear ###:
num_pts: 4
pt_prev: 1372652856
pt_next: 1372652931
[[1372652871, -8.6139504, 41.148207], [1372652886, -8.6141808, 41.147999999999996], [1372652901, -8.6144112, 41.14779299999999], [1372652916, -8.614641599999999, 41.14758599999999]]

In [160]:
print(grid_obj)

[[Point     : [Timestamp: 1372638303, Longitude: -8.587116, Latitude: 41.162427, Truth: True]
  Point     : [Timestamp: 1372638318, Longitude: -8.586549, Latitude: 41.161883, Truth: False]
  Point     : [Timestamp: 1372638333, Longitude: -8.585982, Latitude: 41.161338, Truth: True]
  Point     : [Timestamp: 1372638348, Longitude: -8.585064, Latitude: 41.160348, Truth: False]
  Point     : [Timestamp: 1372638363, Longitude: -8.584146, Latitude: 41.159358, Truth: True]
  Point     : [Timestamp: 1372638378, Longitude: -8.583160, Latitude: 41.160073, Truth: False]
  Point     : [Timestamp: 1372638393, Longitude: -8.582175, Latitude: 41.160789, Truth: True]
  Point     : [Timestamp: 1372638408, Longitude: -8.582022, Latitude: 41.162364, Truth: True]
  Point     : [Timestamp: 1372638423, Longitude: -8.583849, Latitude: 41.163192, Truth: True]
  Point     : [Timestamp: 1372638438, Longitude: -8.586189, Latitude: 41.163273, Truth: True]]
 [Point     : [Timestamp: 1372646650, Longitude: -8.610300, Latitude: 41.153688, Truth: True]
  Point     : [Timestamp: 1372646665, Longitude: -8.610246, Latitude: 41.153863, Truth: False]
  Point     : [Timestamp: 1372646680, Longitude: -8.610192, Latitude: 41.154039, Truth: True]
  Point     : [Timestamp: 1372646695, Longitude: -8.610311, Latitude: 41.153951, Truth: False]
  Point     : [Timestamp: 1372646710, Longitude: -8.610430, Latitude: 41.153863, Truth: False]
  Point     : [Timestamp: 1372646725, Longitude: -8.610550, Latitude: 41.153776, Truth: False]
  Point     : [Timestamp: 1372646740, Longitude: -8.610669, Latitude: 41.153688, Truth: True]
  Point     : [Timestamp: 1372646755, Longitude: -8.611974, Latitude: 41.153724, Truth: True]
  Point     : [Timestamp: 1372646770, Longitude: -8.611938, Latitude: 41.155452, Truth: True]
  Point     : [Timestamp: 1372646785, Longitude: -8.611344, Latitude: 41.157162, Truth: True]]
 [Point     : [Timestamp: 1372645583, Longitude: -8.591301, Latitude: 41.156163, Truth: True]
  Point     : [Timestamp: 1372645598, Longitude: -8.592858, Latitude: 41.156230, Truth: False]
  Point     : [Timestamp: 1372645613, Longitude: -8.594415, Latitude: 41.156298, Truth: True]
  Point     : [Timestamp: 1372645628, Longitude: -8.594466, Latitude: 41.156370, Truth: False]
  Point     : [Timestamp: 1372645643, Longitude: -8.594517, Latitude: 41.156442, Truth: False]
  Point     : [Timestamp: 1372645658, Longitude: -8.594568, Latitude: 41.156514, Truth: True]
  Point     : [Timestamp: 1372645673, Longitude: -8.594100, Latitude: 41.157347, Truth: False]
  Point     : [Timestamp: 1372645688, Longitude: -8.593632, Latitude: 41.158179, Truth: True]
  Point     : [Timestamp: 1372645703, Longitude: -8.594793, Latitude: 41.158863, Truth: False]
  Point     : [Timestamp: 1372645718, Longitude: -8.595954, Latitude: 41.159547, Truth: True]]
 [Point     : [Timestamp: 1372651427, Longitude: -8.610291, Latitude: 41.153625, Truth: True]
  Point     : [Timestamp: 1372651442, Longitude: -8.610689, Latitude: 41.154106, Truth: False]
  Point     : [Timestamp: 1372651457, Longitude: -8.611088, Latitude: 41.154588, Truth: False]
  Point     : [Timestamp: 1372651472, Longitude: -8.611486, Latitude: 41.155069, Truth: False]
  Point     : [Timestamp: 1372651487, Longitude: -8.611884, Latitude: 41.155551, Truth: True]
  Point     : [Timestamp: 1372651502, Longitude: -8.611542, Latitude: 41.157054, Truth: True]
  Point     : [Timestamp: 1372651517, Longitude: -8.610147, Latitude: 41.157252, Truth: True]
  Point     : [Timestamp: 1372651532, Longitude: -8.610024, Latitude: 41.157258, Truth: False]
  Point     : [Timestamp: 1372651547, Longitude: -8.609901, Latitude: 41.157264, Truth: False]
  Point     : [Timestamp: 1372651562, Longitude: -8.609778, Latitude: 41.157270, Truth: True]]
 [Point     : [Timestamp: 1372652856, Longitude: -8.613720, Latitude: 41.148414, Truth: True]
  Point     : [Timestamp: 1372652871, Longitude: -8.613950, Latitude: 41.148207, Truth: False]
  Point     : [Timestamp: 1372652886, Longitude: -8.614181, Latitude: 41.148000, Truth: False]
  Point     : [Timestamp: 1372652901, Longitude: -8.614411, Latitude: 41.147793, Truth: False]
  Point     : [Timestamp: 1372652916, Longitude: -8.614642, Latitude: 41.147586, Truth: False]
  Point     : [Timestamp: 1372652931, Longitude: -8.614872, Latitude: 41.147379, Truth: True]
  Point     : [Timestamp: 1372652946, Longitude: -8.615637, Latitude: 41.147262, Truth: True]
  Point     : [Timestamp: 1372652961, Longitude: -8.617023, Latitude: 41.147253, Truth: True]
  Point     : [Timestamp: 1372652976, Longitude: -8.618076, Latitude: 41.147685, Truth: True]
  Point     : [Timestamp: 1372652991, Longitude: -8.618814, Latitude: 41.148612, Truth: True]]]

In [161]:
print(truth_obj)

[[Point     : [Timestamp: 1372638303, Longitude: -8.587116, Latitude: 41.162427, Truth: True]
  Point     : [Timestamp: 1372638318, Longitude: -8.586198, Latitude: 41.162112, Truth: True]
  Point     : [Timestamp: 1372638333, Longitude: -8.585982, Latitude: 41.161338, Truth: True]
  Point     : [Timestamp: 1372638348, Longitude: -8.585037, Latitude: 41.160024, Truth: True]
  Point     : [Timestamp: 1372638363, Longitude: -8.584146, Latitude: 41.159358, Truth: True]
  Point     : [Timestamp: 1372638378, Longitude: -8.583138, Latitude: 41.160204, Truth: True]
  Point     : [Timestamp: 1372638393, Longitude: -8.582175, Latitude: 41.160789, Truth: True]
  Point     : [Timestamp: 1372638408, Longitude: -8.582022, Latitude: 41.162364, Truth: True]
  Point     : [Timestamp: 1372638423, Longitude: -8.583849, Latitude: 41.163192, Truth: True]
  Point     : [Timestamp: 1372638438, Longitude: -8.586189, Latitude: 41.163273, Truth: True]]
 [Point     : [Timestamp: 1372646650, Longitude: -8.610300, Latitude: 41.153688, Truth: True]
  Point     : [Timestamp: 1372646665, Longitude: -8.610336, Latitude: 41.153679, Truth: True]
  Point     : [Timestamp: 1372646680, Longitude: -8.610192, Latitude: 41.154039, Truth: True]
  Point     : [Timestamp: 1372646695, Longitude: -8.609985, Latitude: 41.154759, Truth: True]
  Point     : [Timestamp: 1372646710, Longitude: -8.609931, Latitude: 41.154462, Truth: True]
  Point     : [Timestamp: 1372646725, Longitude: -8.610327, Latitude: 41.153625, Truth: True]
  Point     : [Timestamp: 1372646740, Longitude: -8.610669, Latitude: 41.153688, Truth: True]
  Point     : [Timestamp: 1372646755, Longitude: -8.611974, Latitude: 41.153724, Truth: True]
  Point     : [Timestamp: 1372646770, Longitude: -8.611938, Latitude: 41.155452, Truth: True]
  Point     : [Timestamp: 1372646785, Longitude: -8.611344, Latitude: 41.157162, Truth: True]]
 [Point     : [Timestamp: 1372645583, Longitude: -8.591301, Latitude: 41.156163, Truth: True]
  Point     : [Timestamp: 1372645598, Longitude: -8.592651, Latitude: 41.156163, Truth: True]
  Point     : [Timestamp: 1372645613, Longitude: -8.594415, Latitude: 41.156298, Truth: True]
  Point     : [Timestamp: 1372645628, Longitude: -8.594451, Latitude: 41.156316, Truth: True]
  Point     : [Timestamp: 1372645643, Longitude: -8.594460, Latitude: 41.156352, Truth: True]
  Point     : [Timestamp: 1372645658, Longitude: -8.594568, Latitude: 41.156514, Truth: True]
  Point     : [Timestamp: 1372645673, Longitude: -8.594388, Latitude: 41.156838, Truth: True]
  Point     : [Timestamp: 1372645688, Longitude: -8.593632, Latitude: 41.158179, Truth: True]
  Point     : [Timestamp: 1372645703, Longitude: -8.594163, Latitude: 41.158980, Truth: True]
  Point     : [Timestamp: 1372645718, Longitude: -8.595954, Latitude: 41.159547, Truth: True]]
 [Point     : [Timestamp: 1372651427, Longitude: -8.610291, Latitude: 41.153625, Truth: True]
  Point     : [Timestamp: 1372651442, Longitude: -8.610930, Latitude: 41.153643, Truth: True]
  Point     : [Timestamp: 1372651457, Longitude: -8.611965, Latitude: 41.153859, Truth: True]
  Point     : [Timestamp: 1372651472, Longitude: -8.611938, Latitude: 41.154651, Truth: True]
  Point     : [Timestamp: 1372651487, Longitude: -8.611884, Latitude: 41.155551, Truth: True]
  Point     : [Timestamp: 1372651502, Longitude: -8.611542, Latitude: 41.157054, Truth: True]
  Point     : [Timestamp: 1372651517, Longitude: -8.610147, Latitude: 41.157252, Truth: True]
  Point     : [Timestamp: 1372651532, Longitude: -8.610129, Latitude: 41.157216, Truth: True]
  Point     : [Timestamp: 1372651547, Longitude: -8.610138, Latitude: 41.157216, Truth: True]
  Point     : [Timestamp: 1372651562, Longitude: -8.609778, Latitude: 41.157270, Truth: True]]
 [Point     : [Timestamp: 1372652856, Longitude: -8.613720, Latitude: 41.148414, Truth: True]
  Point     : [Timestamp: 1372652871, Longitude: -8.614287, Latitude: 41.148414, Truth: True]
  Point     : [Timestamp: 1372652886, Longitude: -8.614431, Latitude: 41.148387, Truth: True]
  Point     : [Timestamp: 1372652901, Longitude: -8.614845, Latitude: 41.147451, Truth: True]
  Point     : [Timestamp: 1372652916, Longitude: -8.614872, Latitude: 41.147388, Truth: True]
  Point     : [Timestamp: 1372652931, Longitude: -8.614872, Latitude: 41.147379, Truth: True]
  Point     : [Timestamp: 1372652946, Longitude: -8.615637, Latitude: 41.147262, Truth: True]
  Point     : [Timestamp: 1372652961, Longitude: -8.617023, Latitude: 41.147253, Truth: True]
  Point     : [Timestamp: 1372652976, Longitude: -8.618076, Latitude: 41.147685, Truth: True]
  Point     : [Timestamp: 1372652991, Longitude: -8.618814, Latitude: 41.148612, Truth: True]]]

In [162]:
def cal_dis(lat_1,lon_1,lat_2,lon_2):
    lon_1 = lon_1 * math.pi / 180
    lat_1 = lat_1 * math.pi / 180
    lon_2 = lon_2 * math.pi / 180
    lat_2 = lat_2 * math.pi / 180
    a = abs(lat_1 - lat_2)
    b = abs(lon_1 - lon_2)
    d = 2 * 6378.137 * np.arcsin(
        np.sqrt(np.sin(a / 2) * np.sin(a / 2) + np.cos(lat_1) * np.cos(lat_2) * np.sin(b / 2) * np.sin(b / 2)))
    return d

def calc_mean_abs_error(data1, data2, denom=num_missing_data):
    # iterate over each trajectory in dataset and find total error, then divide by number of predicted data
    total_error = 0

    if len(data1) != len(data2):
        return -1

    for i in range(len(data1)):
        traj1 = data1[i]
        traj2 = data2[i]

        if len(traj1) != len(traj2):
            return -1

        for i in range(len(traj1)):
            total_error += cal_dis(traj1[i].lat, traj1[i].lon, traj2[i].lat, traj2[i].lon)

    mae = total_error / denom
    return mae
    

calc_mean_abs_error(grid_obj, truth_obj)

0.8832899151331163