In [18]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris

irises = load_iris()
dir(irises)

['setosa' 'versicolor' 'virginica']

In [20]:
df = pd.DataFrame(irises.data, columns=irises.feature_names)

# add target column as truth value
df['target'] = irises.target

df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [21]:
from sklearn.model_selection import train_test_split

# seperate datasets into training and testing(with truth target)
x_train, x_test, y_train, y_test = train_test_split(df.drop(['target'],axis='columns'), irises.target, test_size=0.2)

In [59]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=10)

# training step
model.fit(x_train, y_train)
# model.get_params()

model.score(x_test, y_test)

0.9333333333333333

In [ ]:
y_predicted = model.predict(x_test)

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_predicted)

%matplotlib inline
import matplotlib.pyplot as plot
import seaborn as sn
plt.figure(figsize=(10,7))
sn.heatmap(cm, annot=True)
plot.xlabel('Predicted')
plot.ylabel('Truth')